<app-navbar></app-navbar>
<div class="mx-auto p-4 h-full lg:px-16 bg-[#222222] text-zinc-300">
  <div class="px-16 py-10 border-2 my-5 mx-auto rounded-2xl grid grid-cols-1 md:grid-cols-2 gap-4 h-full">
    <img class="rounded-lg w-[460px] m-auto" src="assets/main.jpg" alt="site">
    <div class="p-4 m-auto flex flex-col items-center">
      <h1 class="line text-2xl/7 italic mb-3">This project is a secure password manager that allows users to store, retrieve, and manage their passwords in an encrypted format. It features user authentication, strong encryption for data protection, and a simple, user-friendly interface. The goal is to provide a safe and efficient way to manage multiple credentials without compromising security.</h1>
      <button
      class="bg-[#222222] font-semibold px-4 p-2 m-2 border-2 rounded-lg cursor-pointer"
      (click)="toggle()"
    >
      Add New Site
    </button>
    </div>
  </div>
<p *ngIf="isSuccess" class="font-semibold bg-blue-300 text-white p-2 rounded-lg m-2 ">Data Saved Successfully</p>
  <div *ngIf="showForm" class="px-16 py-10 border-2 my-5 mx-auto rounded-2xl grid grid-cols-1 md:grid-cols-2 gap-4">
    <img  class="rounded-lg w-[460px] m-auto" [src]="siteForm.get('siteImgURL')?.value || 'assets/home.jpg'" alt="site">
    <div>
      <h1 class="text-3xl font-bold p-3 text-center">{{state }} site</h1>
      <form [formGroup]="siteForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
          <label for="siteName" class="italic m-2">Site Name:</label>
          <input
            type="text"
            formControlName="siteName"
            name="siteName"
            class="border-2 rounded-lg p-2 m-2"
            placeholder="Enter site name"
            required
          />
        </div>
        <div class="flex flex-col">
          <label for="siteURL" class="italic m-2">Site URL:</label>
          <input
            type="text"
            name="siteURL"
            class="border-2 rounded-lg p-2 m-2"
            placeholder="Enter siteURL"
            formControlName="siteURL"
            required
          />
        </div>
        <div class="flex flex-col">
          <label for="siteImgURL" class="italic m-2"
            >ImgURL</label
          >
          <input
            type="text"
            name="siteImgURL"
            class="border-2 rounded-lg p-2 m-2"
            placeholder="Enter siteImgURL"
            formControlName="siteImgURL"
            required
          />
        </div>
        <button class="p-2 m-2 bg-[#222222]  text-white font-semibold cursor-pointer border-sky-300 border rounded-lg">{{state}} Site</button>
      </form>
    </div>
    
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 p-4" *ngIf="allSites.length >0">
    <div class="rounded-lg shadow-lg flex flex-col gap-4 p-4 w-95 sm:w-75  border-2 m-auto" *ngFor="let site of allSites ">
      <img
        [src]="site.siteImgURL"
        alt="site"
        class="rounded-lg shadow-lg p-2 w-full"
      />
      <p class="font-bold">Name:</p>
      <h2 class="text-2xl font-semibold italic">{{site.siteName}}</h2>
      <p class="font-bold">Site:</p>
      <a class="font-semibold text-xl cursor-pointer rounded-lg underline decoration-red-500" [href]="site.siteURL"
        >{{site.siteURL}}</a
      >
      <div class="flex justify-center gap-2 items-center">
        <button class="bg-[#222222]  text-white font-semibold p-2 rounded-lg cursor-pointer border border-red-700" [routerLink]="['/passwordList',site.id]">
          Add New PassWord
        </button>
        <button class=" font-semibold p-2 bg-[#222222]  rounded-lg border-2 cursor-pointer  border-red-700" (click)="editSite(site.siteName,site.siteURL,site.siteImgURL,site.id)">
          Edit</button
        ><button class="font-semibold p-2  bg-[#222222] rounded-lg border-2 cursor-pointer  border-red-700 " (click)="deleteSite(site.id)">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
