<app-navbar></app-navbar>
<div class="container mx-auto px-4 md:px-8 lg:px-16">
  <p
    *ngIf="isSuccess"
    class="font-semibold bg-blue-300 text-white p-2 rounded-lg m-2"
  >
    Data Saved Successfully
  </p>
  <div
    class="px-16 py-10 border-2 my-5 mx-auto rounded-2xl grid grid-cols-1 md:grid-cols-2 gap-4"
  >
    <img
      class="rounded-lg w-[460px] m-auto"
      [src]="siteData.siteImgURL"
      alt="site"
    />
    <div>
      <h1 class="text-3xl font-bold p-3 text-center">
        {{ state }} Usernames and Password
      </h1>
      <form [formGroup]="siteForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
          <label for="username" class="text-2xl font-bold m-2"
            >User Name:</label
          >
          <input
            type="text"
            formControlName="username"
            name="username"
            class="border-2 rounded-lg p-2 m-2"
            placeholder="Enter Username"
          />
        </div>
        <div class="flex flex-col">
          <label for="password" class="text-2xl font-bold m-2">password</label>
          <input
            type="text"
            name="password"
            class="border-2 rounded-lg p-2 m-2"
            placeholder="Enter password"
            formControlName="password"
            required
          />
        </div>
        <button
          class="p-2 m-2 bg-gray-900 text-white font-semibold cursor-pointer  rounded-lg"
        >
          {{ state }} Password
        </button>
      </form>
    </div>
  </div>
  <div *ngIf="credentials.length > 0">
    <div class="p-4 bg-gray-800" *ngFor="let credential of credentials">
      <div class="grid grid-cols-2 w-full border border-b-cyan-700">
        <div class="flex flex-col p-4 m-2">
          <h1 class="font-semibold text-amber-50 mb-2">User Name:</h1>
          <p class="w-full shadow-lg rounded-lg p-2 font-semibold bg-gray-500">
            {{ credential.username }}
          </p>
        </div>
        <div class="flex flex-col p-4 m-2">
          <h1 class="font-semibold text-amber-50 mb-2">Password:</h1>
          <div class=" flex justify-between  bg-gray-500 rounded-lg" >
            <p class="w-full shadow-lg  p-2 font-semibold mr-3" *ngIf="showPassword; else hidePassword">
              {{ credential.password }} 
            </p>
            <ng-template #hidePassword>
              <p class="w-full shadow-lg  p-2 font-semibold  text-white mr-3">
                {{ '*'.repeat(credential.password.length) }}
              </p>
            </ng-template>
            <div class="flex items-center text-white text-xl">
              <p class="text-white text-xl  cursor-pointer mr-4" *ngIf="!showPassword" (click)="togglePasswordVisibility()">
                <fa-icon [icon]="faEye"></fa-icon>
              </p>
              <p class="text-white text-xl  cursor-pointer mr-4" *ngIf="showPassword" (click)="togglePasswordVisibility()">
                <fa-icon [icon]="faEyeSlash"></fa-icon>
              </p>
              <p class="text-white text-xl  cursor-pointer mr-4"  (click)="copyPassword(credential.password)">
                <fa-icon [icon]="faPaste"></fa-icon>
              </p>
            </div>
          </div>
          </div>
          
      </div>
      <div class="p-4 space-x-3">
        <button
          (click)="
            onEdit(credential.id, credential.username, credential.password)
          "
          class="bg-gray-800 text-white px-4 py-2 rounded-lg border-sky-900 border-2 cursor-pointer"
        >
          Edit
        </button>
        <button
          (click)="onDelete(credential.id)"
          class="bg-gray-800 text-white px-4 py-2 rounded-lg border-sky-900 border-2 cursor-pointer"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
