<div class="container mx-auto px-4 md:px-8 lg:px-16">
  <p
    *ngIf="isSuccess"
    class="font-semibold bg-blue-300 text-white p-2 rounded-lg m-2"
  >
    Data Saved Successfully
  </p>
  <div
    class="px-16 py-10 border-2 my-5 mx-auto rounded-2xl grid grid-cols-1 md:grid-cols-2 gap-4"  
  >
    <img
      class="rounded-lg w-[460px] m-auto"
      [src]="siteData.siteImgURL"
      alt="site"
    />
    <div>
      <h1 class="text-3xl font-bold p-3 text-center">
        {{ state }} Usernames and Password
      </h1>
      <form [formGroup]="siteForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-col">
          <label for="username" class="text-2xl font-bold m-2"
            >User Name:</label
          >
          <input
            type="text"
            formControlName="username"
            name="username"
            class="border-2 rounded-lg p-2 m-2"
            placeholder="Enter Username"
          />
        </div>
        <div class="flex flex-col">
          <label for="password" class="text-2xl font-bold m-2">password</label>
          <input
            type="text"
            name="password"
            class="border-2 rounded-lg p-2 m-2"
            placeholder="Enter password"
            formControlName="password"
            required
          />
        </div>
        <button
          class="p-2 m-2 bg-gray-900 text-white font-semibold cursor-pointer"
        >
          {{ state }} Password
        </button>
      </form>
    </div>
  </div>
  <div class="grid grid-cols-3 border-2">
    <h1 class=" text-center font-bold border-2 italic p-2">User Name</h1>
    <h1 class=" text-center font-bold border-2 italic p-2">Password</h1>
    <h1 class=" text-center font-bold border-2 italic p-2">Actions</h1>
  </div>
  <div *ngIf="length > 0">
    <div class="grid grid-cols-3  border-2" *ngFor="let credential of credentials | async">
      <h1 class=" text-center border-2 p-2">{{ credential.username }}</h1>
      <p class=" text-center border-2 p-2">{{ credential.password }}</p>
      <div class="border-2 text-center">
        <button
        (click)="onEdit(credential.id,credential.username,credential.password)"
        class="bg-gray-900 text-white p-2 rounded-lg   cursor-pointer mr-2"
      >
       Edit 
      </button> <button
      (click)="onDelete(credential.id)"
      class="bg-gray-900 text-white p-2 rounded-lg   cursor-pointer"
    >
      Delete
    </button>
      </div>
    </div>
  </div>
</div>
